.containerCard {
    background-color: #2596be;
    width: 90%;
    height: 92%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.headerCard{
    display: flex;
    justify-content: space-between;
    padding: 30px 50px;
    color: white;
}

.footerCard{
    display: flex;
    justify-content: space-between;
    padding: 30px 50px;
    color: white;
    align-items: center;

    img{
        height: 120%;
    }
    
    h1{
        font-size: 60px;
        text-align: left;
        display: flex;
        flex-direction: column;
    }
    
    span{
        padding-top: 20px;
        font-size: 20px;
    }
}

