.containerDash {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aqua;
    background-color: #13131A; 
    gap: 5%;
}

.localCard {
    height: 95%;
    width: 45%;
    background-color: #16161F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

.pesquisa {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;

    input {
        background-color: #1E1E29;
        color: #7F7F98;
        border: none;
        border-radius: 8px;
        padding: 15px 25px;
        width: 380px;
    }

    img{
        background-color: #1E1E29;
        padding: 10px;
        border-radius: 8px;
    }
}

.climaHoje {
    width: 90%;
    height: 92%;
}

.localDetalhes{
    height: 95%;
    width: 45%;
}

.detalhes{
    width: 100%;
    border-radius: 8px;
    color: #ffffff;
    background-color: #16161F;
    padding: 10px;
    h3{
        margin: 0;
    }
}

.linhaDetalhe {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    border-bottom: 0.5px solid #3B3B55 ;
    color: #ffffff;

    h3 {
        margin: 10px;
        padding-bottom: 10px;
    }
}

.infoUm {
    gap: 10px;
    display: flex;
    align-items: center;
    flex-direction: row;
    img{
        padding: 0 10px;
    }
}

.proximosDias {
    width: 100%;
    padding: 10px;
    background-color: #16161F ;
    color: #ffffff;
}

.itens {
    display: flex;
    flex-direction: row;
    color: #ffffff;
    justify-content: space-around;

    h3{
        
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 10px;
    }

    img{
        width: 50%;
    }
}