body, html {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  width: 100%;
  background-image: url('./assets/background.png');
}

button {
  background-color: #2596be;
  color: white;
  margin: 15px 0;
  padding: 10px;
  border-radius: 25px;
  font-weight: 900;
  border: 0;
}

